@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');
html {
 @apply h-full
}

div#root {
  @apply h-full pt-0 pb-8
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply h-full bg-white !font-ruda 
}

.subDefaultFontText{
  @apply justify-center items-center text-center mt-5 text-secondary-500
}

.defaultFontText{
  @apply h-full flex justify-center items-center text-center flex-wrap flex-col;
}

.customButton {
    @apply m-5 !rounded-md !bg-primary !text-white !text-2xl !font-normal !shadow !font-ruslan; 
  
}
.customBackButton{
  background: #B8A4C0 !important; 
}

.percentageFontText{
  color: #FFCDA8;
  font-family: 'Ruslan Display';
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.statusFontText{
  color: #000000;
  font-family: 'Ruslan Display';
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.loveMeterScoreImage{
  width: auto !important;
}