@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&family=Ruslan+Display&display=swap');


html {
 @apply h-full
}

div#root {
  @apply h-full pt-0 pb-8
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply h-full bg-white font-primary 
}

.subDefaultFontText{
  @apply justify-center items-center text-center mt-5 text-secondary-500
}

.defaultFontText{
  @apply h-full flex justify-center items-center text-center flex-wrap flex-col;
}

.customButton {
  margin: 20px;
  border-radius: 5px !important;
  background: #E4A5FF !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.13) !important;
  color: #FEFAFF !important;
  font-family: 'Ruslan Display' !important;
  font-size: 24px !important;
  font-weight: 400 !important;
}
.customBackButton{
  background: #B8A4C0 !important;
}

.percentageFontText{
  color: #FFCDA8;
  font-family: 'Ruslan Display';
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.statusFontText{
  color: #000000;
  font-family: 'Ruslan Display';
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
.loveMeterScoreImage{
  width: auto !important;
}